.todo {
    min-width: 500px;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10vh;

        h1 {
            color: $bg-light;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            background: transparent;
            border: none;
            border-radius: 50%;
            padding: 5px;
            outline: none;
            cursor: pointer;
        }
    }
    section {
        .input-wrapper {
            margin: 20px 0;

            input {
                flex: 1;

                font-size: 18px;

                padding-left: 5px;
                height: 100%;

                background-color: transparent;
                color: $input-text;
                &::placeholder {
                    color: $input-text;
                }

                border: none;
                outline: none;
            }
        }
        .items-wrapper {
            .filters {
                padding: 5px 10px;

                display: flex;
                justify-content: space-around;

                color: $input-text;
                button {
                    margin: 2px;

                    background: none;

                    border: none;
                    outline: none;

                    cursor: pointer;

                    color: $input-text;
                }

                section {
                    display: flex;
                    flex: 1;
                    justify-content: space-evenly;
                }

                &.filters#filter-responsive {
                    margin: 10px 0;
                    padding: 10px;
                    section {
                        button {
                            color: $input-text;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 550px) {
        font-size: 0.93rem;
        min-width: unset;
        width: 90vw;
        section {
            .items-wrapper {
                .filters {
                    // flex-direction: column;
                    // height: auto;
                    white-space: nowrap;

                    justify-content: space-between;
                    width: 100%;
                }
            }
        }
    }
    @media (max-width: 350px) {
        font-size: 0.87rem;
    }
}
