// dimensions
$mobile: 375px;
$desktop: 1440px;

// primary
$bright-blue: #3a7bfd;
$check-background: linear-gradient(#57ddff, #c058f3);

$bg-very-light: #fafafa;
$bg-light: #e4e5f1;
$disable-text: #d2d3db;
$input-text: #9394a5;
$text: #484b6a;

.dark-theme {
    $bg-very-dark: #161722;
    $bg-dark: #25273c;
    $text: #cacde8;
    $disable-text: #e4e5f1;
    $input-text: #777a92;
    $sub-text: #4d5066;
    // $very-dark-grayish-blue-hover: #393a4c;
}
